/* body*/

body {
    font-family: sans-serif;
    color:#4b2b2b;
    margin: 0;
    padding: 0;
    background-color: #4b2b2b;
  }
  
/*-----------------------------------------------------------------------------------
container*/
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50%;
  }
  
/*-----------------------------------------------------------------------------------
/* header*/
  header {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #070707;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
  }

/*-----------------------------------------------------------------------------------
profile*/
  .profile {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  }

/*-----------------------------------------------------------------------------------
intro*/
  .intro {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  }

/*-----------------------------------------------------------------------------------
Experience*/
  .Experience {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  }

  .Experience h4 {
    margin-bottom: 5px;
  }

/*-----------------------------------------------------------------------------------
call-to-action*/
  .call-to-action {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media a {
    color: #b4aeae;
    padding: 5px;
    text-decoration: none;
    color: #0b0a0a;
  }
  
  .social-media a:hover {
    background-color: #ddd;
  }

  .social-media li img {
    width: 10px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
  }
  